<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find comau_nj_130_2_6_description)/urdf/helper_macros.urdf.xacro" />

  <xacro:macro name="comau_nj_130_2_6_ros2_control" params="hardware:=crcopen">
    <ros2_control name="comau_nj_130_2_6" type="system">

      <hardware>
        <xacro:if value="${hardware == 'mock'}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>

        <xacro:if value="${hardware == 'crcopen'}">
          <plugin>crcopen_hardware/CRCOpenHardware</plugin>
          <!-- Set IP addresses -->
          <param name="lpc_addr">169.254.100.2</param>
          <param name="crc_addr">169.254.100.1</param>

          <!-- Set payload parameters -->
          <param name="payload_mass">0.0</param>
          <param name="payload_cog_x">0.0</param>
          <param name="payload_cog_y">0.0</param>
          <param name="payload_cog_z">0.0</param>
          <param name="payload_inertia_xx">0.0</param>
          <param name="payload_inertia_xy">0.0</param>
          <param name="payload_inertia_xz">0.0</param>
          <param name="payload_inertia_yy">0.0</param>
          <param name="payload_inertia_yz">0.0</param>
          <param name="payload_inertia_zz">0.0</param>
        </xacro:if>
      </hardware>

      <joint name="waist">
        <xacro:standard_interfaces />

        <xacro:if value="${hardware == 'crcopen'}">
          <xacro:crcopen_interfaces />
          <param name="axis_idx">0</param>
          <param name="ruckig_max_vel">${radians(110)}</param>
          <param name="ruckig_max_acc">${radians(600)}</param>
          <param name="ruckig_max_jrk">${radians(10000)}</param>
          <!-- Motor constants -->
          <param name="vr_TorqConst">1.0</param>            <!-- [Nm/A] -->
          <param name="vr_TransmissionRatio">1.0</param>  <!-- [unitless] -->
        </xacro:if>
      </joint>

      <joint name="shoulder">
        <xacro:standard_interfaces />

        <xacro:if value="${hardware == 'crcopen'}">
          <xacro:crcopen_interfaces />
          <param name="axis_idx">1</param>
          <param name="ruckig_max_vel">${radians(110)}</param>
          <param name="ruckig_max_acc">${radians(500)}</param>
          <param name="ruckig_max_jrk">${radians(10000)}</param>
          <!-- Motor constants -->
          <param name="vr_TorqConst">1.0</param>            <!-- [Nm/A] -->
          <param name="vr_TransmissionRatio">1.0</param>  <!-- [unitless] -->
        </xacro:if>
      </joint>

      <joint name="elbow_active">
        <xacro:standard_interfaces initial_position="${radians(-90)}" />

        <xacro:if value="${hardware == 'crcopen'}">
          <xacro:crcopen_interfaces />
          <param name="axis_idx">2</param>
          <param name="ruckig_max_vel">${radians(110)}</param>
          <param name="ruckig_max_acc">${radians(850)}</param>
          <param name="ruckig_max_jrk">${radians(15000)}</param>
          <!-- Motor constants -->
          <param name="vr_TorqConst">1.0</param>            <!-- [Nm/A] -->
          <param name="vr_TransmissionRatio">1.0</param>  <!-- [Unitless] -->
        </xacro:if>
      </joint>

      <joint name="forearm_roll">
        <xacro:standard_interfaces />

        <xacro:if value="${hardware == 'crcopen'}">
          <xacro:crcopen_interfaces />
          <param name="axis_idx">3</param>
          <param name="ruckig_max_vel">${radians(190)}</param>
          <param name="ruckig_max_acc">${radians(3400)}</param>
          <param name="ruckig_max_jrk">${radians(90000)}</param>
          <!-- Motor constants -->
          <param name="vr_TorqConst">1.0</param>            <!-- [Nm/A] -->
          <param name="vr_TransmissionRatio">1.0</param>   <!-- [Unitless] -->
        </xacro:if>
      </joint>

      <joint name="wrist_angle">
        <xacro:standard_interfaces />

        <xacro:if value="${hardware == 'crcopen'}">
          <xacro:crcopen_interfaces />
          <param name="axis_idx">4</param>
          <param name="ruckig_max_vel">${radians(190)}</param>
          <param name="ruckig_max_acc">${radians(3300)}</param>
          <param name="ruckig_max_jrk">${radians(90000)}</param>
          <!-- Motor constants -->
          <param name="vr_TorqConst">1.0</param>            <!-- [Nm/A] -->
          <param name="vr_TransmissionRatio">1.0</param>   <!-- [Unitless] -->
        </xacro:if>
      </joint>

      <joint name="wrist_rotate">
        <xacro:standard_interfaces />

        <xacro:if value="${hardware == 'crcopen'}">
          <xacro:crcopen_interfaces />
          <param name="axis_idx">5</param>
          <param name="ruckig_max_vel">${radians(230)}</param>
          <param name="ruckig_max_acc">${radians(4200)}</param>
          <param name="ruckig_max_jrk">${radians(115000)}</param>
          <!-- Motor constants -->
          <param name="vr_TorqConst">1.0</param>            <!-- [Nm/A] -->
          <param name="vr_TransmissionRatio">1.0</param>  <!-- [Unitless] -->
        </xacro:if>
      </joint>

    </ros2_control>
  </xacro:macro>
</robot>
